<header>
  <div class="wrapper">
    <div class="header-body">
      <img src="../../../assets/icons/logo.svg" alt="logo">
      <input #inputElement type="text" class="search-field">
      <button class="search-btn btn" (click)="search()">search</button>
      <button class="search-setting btn" (click)="settingBlock=!settingBlock">
        <img src="../../../assets/icons/setting.svg" alt="setting">
      </button>
    </div>
    <app-login></app-login>
  </div>
  <app-sort-setting *ngIf="settingBlock" (sortCard)="sortRun($event)" (filterCard)="filterRun($event)">
  </app-sort-setting>
</header>
