<header>
  <div class="wrapper">
    <div class="header-body">
      <img src="../../../../assets/icons/logo.svg" alt="logo">
      <input #inputElement type="text" class="search-field">
      <button class="search-setting btn" (click)="showSetting()">
        <img src="../../../../assets/icons/setting.svg" alt="setting">
      </button>
    </div>
    <app-login></app-login>
  </div>
  <app-sort-setting *ngIf="settingBlock">
  </app-sort-setting>
</header>
<app-window-error></app-window-error>
