<div class="search-item card">
  <div class="card-image">
    <img [src]="image" alt="thumbnail">
  </div>
  <div class="statistics">
    <div class="view-count">
      <img src="../../../../assets/icons/viewed.svg" alt="view">
      <span [textContent]="stat.viewCount"></span>
    </div>
    <div class="like-count">
      <img src="../../../../assets/icons/liked.svg" alt="like">

      <span [textContent]="stat.likeCount"></span>
    </div>
    <div class="dislike-count">
      <img src="../../../../assets/icons/dislike.svg" alt="dislike">
      <span [textContent]="stat.dislikeCount"></span>
    </div>
    <div class="comment-count">
      <img src="../../../../assets/icons/comment.svg" alt="comment">
      <span [textContent]="stat.commentCount"></span>
    </div>
  </div>
  <div class="card-title">{{title}}</div>
  <button class="card-btn btn" (click)="info()">more...</button>
  <div class="card-mark" [colors]="date"></div>
</div>
