<div class="search-item card">
  <div class="card-image">
    <img src="https://i.ytimg.com/vi/YN8zNnV0sK8/mqdefault.jpg" alt="thumbnail">
  </div>
  <div class="statistics">
    <div class="view-count">
      <img src="../../../assets/icons/viewed.svg" alt="view">
      <span>
        1000
      </span>
    </div>
    <div class="like-count">
      <img src="../../../assets/icons/liked.svg" alt="like">

      <span>
        680
      </span>
    </div>
    <div class="dislike-count">
      <img src="../../../assets/icons/dislike.svg" alt="dislike">
      <span>
        320
      </span>
    </div>
    <div class="comment-count">
      <img src="../../../assets/icons/comment.svg" alt="comment">
      <span>
        250
      </span>
    </div>
  </div>
  <div class="card-title">
    Kuji Prodcast #21
  </div>
  <button class="card-btn btn">more...</button>
  <div class="card-mark"></div>
</div>
