@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  // background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  min-width: 1200px;
}
.btn {
  border-radius: 5px;
  background-color: #2f80ed;
  box-shadow: 2px 0px 4px #2f80ed;
  color: #ffffff;
  &:hover {
    background-color: darken(#2f80ec, 10%);
    box-shadow: 3px 0px 5px darken(#2f80ed, 10%);
    cursor: pointer;
  }
}
